.stay-details-aside {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1rem;
  color: rgb(34, 34, 34);

  .checkout-form-container {
    position: sticky;
    top: 170px;
    justify-content: flex-end;

    .checkout-form {
      width: 80%;
      max-width: 330px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      padding: 24px;
      box-shadow: #0000001f 0 6px 16px;

      .guests-modal {
        background: rgb(255, 255, 255);
        border-radius: 32px;
        box-sizing: border-box;
        margin-bottom: 16px;
        min-width: 280px;
        position: absolute;
        text-align: left;
        width: 100%;
        z-index: 999;
        right: 16px;
        top: 188px;
        max-width: 300px;
        border-radius: 32px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0392156863),
          0 8px 16px rgba(0, 0, 0, 0.1490196078);
        padding: 16px 32px;

        .guests-options {
          gap: 10px;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
        }
      }

      .form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;

        .form-header-price {
          color: rgb(34, 34, 34);
          .price {
            font-size: 22px;
            font-weight: 600;
            line-height: 26px;
          }

          .per-night {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }

      .form-header-reservation {
        border: 1px solid rgba(0, 0, 0, 0.3137254902);
        border-radius: 13px;
        margin-bottom: 15px;

        .reservation-dates-container {
          display: flex;
          justify-content: space-between;
          position: relative;

          .reservation-dates {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 7px 12px;
            width: 50%;

            .reservation-dates-label {
              font-family: cereal-bold;
              font-size: 0.625em;
            }

            input {
              border: none;
              padding: 0;
              outline: none;
              font-size: 0.875em;
              color: #717171;
              font-family: cereal-light;
            }
          }

          .reservation-dates:nth-child(2) {
            border-left: 1px solid rgba(0, 0, 0, 0.3137254902);
          }
        }

        .reservation-guests {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-top: 1px solid rgba(0, 0, 0, 0.3137254902);
          padding: 7px 12px;
          font-family: cereal-bold;
          font-size: 0.625rem;

          input {
            border: none;
            padding: 0;
            outline: none;
            font-size: 0.875rem;
            color: #717171;
            font-family: cereal-light;
          }
        }
      }
    }
  }
}

.reservation-footer {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 8px 0px 0px;
  padding: 0px;
  text-align: center;

  div {
    span {
      font-size: 0.875em;
      font-family: cereal-light;
    }
  }

  .reservation-footer-price {
    margin-top: 24px;
    flex-direction: column;

    .footer-price-container {
      flex-direction: column;
      gap: 16px;
      line-height: 1.25rem;

      .link {
        color: rgb(34, 34, 34);
        font-size: 1rem;
        text-decoration: underline;
        font-weight: 400;
        font-family: cereal;
      }

      .price {
      }

      .footer-price-nigts {
        display: flex;
        justify-content: space-between;
      }

      .footer-price-fee {
        display: flex;
        justify-content: space-between;
      }
    }

    .footer-price-sum {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid rgba(0, 0, 0, 0.3137254902);
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: rgb(34, 34, 34);
        font-family: cereal-bold;
      }
    }
  }
}

.date-picker-container {
  position: absolute;
  background: white;
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0392156863),
    0 8px 16px rgba(0, 0, 0, 0.1490196078);
  padding: 16px 32px;
  z-index: 10;
  margin-top: 0px;
  right: -5px;
  width: auto;
  top: 140px;
}

.rdp {
  --rdp-cell-size: 40px;

  --rdp-accent-color: #333;
  --rdp-background-color: #fff;

  --rdp-accent-color-dark: #666;
  --rdp-background-color-dark: #ddd;

  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

.stay-footer-mobile {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1000;
  padding: 0 24px;

  border-top: 1px solid rgb(221, 221, 221) !important;
  min-height: 80px !important;
  margin: 0;

  & .stay-footer-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    & .branded-btn2 {
      max-width: 110px;
      height: 48px;
      align-self: center;

      & .content2 {

        & .branded-btn-txt2 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.25rem;
          font-family: cereal-medium;
        }
      }
    }

    & .stay-footer-details {
      display: flex;
      flex-direction: column;
      align-self: center;


      & .price {
        font-size: 1rem;
        font-weight: 600;
        line-height: 20px;
        font-family: cereal;

        & .per-night {
          font-size: 0.875rem;
          font-family: cereal;
          font-weight: 400;
        }
      }

      & .dates {
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}
