.reviews-container {
  padding: 48px 0;
  font-size: 1.375rem;
  font-weight: 600;

  .reviews-header {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    gap: 0.3125em;

    .reviews-rating {
      align-items: baseline;
      gap: 0.1125em;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 1px;
  }

  .review-body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.review {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  .review-title {
    gap: 10px;
    align-items: center;
    margin-bottom: 13px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    .reviewer-details {
      flex-direction: column;

      span {
        font-size: 1rem;
        font-family: cereal;
        font-weight: 600;
      }

      span:nth-child(2) {
        font-size: 0.875rem;
        font-family: cereal-light;
        font-weight: 400;
        color: #717171;
      }
    }
  }
}

.show-all-reviews {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  transition:
    box-shadow 0.2s ease,
    transform 0.1s ease;
  border-color: #222;
  padding: 13px 23px;
  max-width: fit-content;
  margin-top: 24px;
  font-family: cereal;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px #222;
    transform: scale(1.01);
  }
}

.reviews-modal-container {
  display: block;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0006;
  .reviews-modal {
    .close-modal-btn {
      position: absolute;
      top: -5px;
      right: 0px;
      font-size: 1.75rem;
      font-weight: 600;
      padding: 0.5em;
      cursor: pointer;
      background: transparent;
    }

    .divider {
      margin-top: 24px;
    }
    position: relative;
    background-color: #fefefe;
    margin: 40px auto 100px;
    padding: 24px;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: #00000047 0 8px 28px;
    max-width: 780px;
    max-height: 90vh;

    .review {
      .review-title {
        margin-bottom: 10;
        border-bottom: 1px solid #22222217;
        padding-bottom: 10px;
      }
    }
  }
}

.reviews-modal-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 1px;

  padding: 0 15px;
  overflow-x: auto;
  max-height: 75vh;

  // design the scrollbar
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

}

@media (max-width: 768px) {
  .reviews-container {
    padding: 24px 0;
    font-size: 1.125rem;
    margin-bottom: 24px;

    .reviews-header {
      margin-top: 24px;
    }

    .reviews-list {
      grid-template-columns: 1fr;
    }
  }

  .review {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .reviews-modal {
    width: 90% !important;
    grid-gap: 30px 1px !important;
    margin: 60px auto 90px !important;
  }
}
