.stay-header {
  padding-top: 24px;
  .stay-header-top {
    justify-content: space-between;
    align-items: center;

    .stay-details-rating {
      margin-top: 8px;
      display: flex;
      align-items: center;
      color: rgb(34, 34, 34);
      line-height: 20px;

      .avg-rate {
        font-family: cereal-medium;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      & .superhost {
        display: flex;
        gap: 4px;

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: rgb(34, 34, 34);
        }
      }

      & .location {
        & .location-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }

      a {
        // font-family: cereal-light;
        text-decoration: underline;
        font-size: 14px;
        color: rgb(34, 34, 34);
        font-weight: 600;
        line-height: 20px;
      }
    }

    .name-title {
      font-size: 26px;
      line-height: 30px;
      font-weight: 600;
      color: #222222;
      margin: 0;
    }

    .details-action-buttons {
      gap: 8px;
      button {
        gap: 6px;
        padding: 8px;
        border-radius: 8px;
        text-decoration: underline;
        font-family: cereal-medium;
        font-size: 14px;
        background-color: transparent;
        margin: 0;

        &:hover {
          background-color: #f7f7f7;
          cursor: pointer;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.dot {
  margin: 0 8px;
}

// MOBILE 
.stay-header-mobile {
  position: relative;

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    border-radius: 0!important;
    max-height: 260px;
  }

  & .stay-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;

    position: absolute;
    z-index: 100;
    top: 15px;
    width: 100%;

    & .action-btns {
      gap: 10px;
    }

    button {
      display: inline-flex !important;
      border-radius: 50% !important;
      border: 1px solid rgba(0, 0, 0, 0.08) !important;
      outline: none !important;
      margin: 0px !important;
      padding: 0px !important;
      color: rgb(34, 34, 34) !important;
      background-color: rgb(255, 255, 255) !important;
      cursor: pointer !important;
      touch-action: manipulation !important;
      align-items: center !important;
      justify-content: center !important;
      background-clip: padding-box !important;
      box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 0 0 1px transparent !important;
      height: 36px !important;
      width: 36px !important;

      svg {
        width: 18px;
        height: 18px;
        fill: rgb(34, 34, 34);
        stroke-width: 12px;
      }
    }
  }
}