.stay-header {
  .stay-header-top {
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;

    .name-title {
      font-size: 24px;
      line-height: 32px;
      color: #222222;
      margin: 0;
    }

    .details-action-buttons {
      gap: 8px;
      button {
        gap: 6px;
        padding: 8px;
        border-radius: 8px;
        text-decoration: underline;
        font-family: cereal-medium;
        font-size: 14px;
        background-color: transparent;
        margin: 0;

        &:hover {
          background-color: #f7f7f7;
          cursor: pointer;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

// MOBILE 
.stay-header-mobile {
  position: relative;

  & .stay-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;

    position: absolute;
    z-index: 100;
    top: 15px;
    width: 100%;

    & .action-btns {
      gap: 10px;
    }

    button {
      display: inline-flex !important;
      border-radius: 50% !important;
      border: 1px solid rgba(0, 0, 0, 0.08) !important;
      outline: none !important;
      margin: 0px !important;
      padding: 0px !important;
      color: rgb(34, 34, 34) !important;
      background-color: rgb(255, 255, 255) !important;
      cursor: pointer !important;
      touch-action: manipulation !important;
      align-items: center !important;
      justify-content: center !important;
      background-clip: padding-box !important;
      box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 0 0 1px transparent !important;
      height: 36px !important;
      width: 36px !important;

      svg {
        width: 18px;
        height: 18px;
        fill: rgb(34, 34, 34);
        stroke-width: 12px;
      }
    }
  }
}