.stay-details {
  .stay-image-container {
    img {
      max-width: 300px;
    }
  }
  .review-username {
    color: #000;
    font-weight: 800;
    font-size: 1.2em;
  }
  .mid-section {
    display: flex;
    justify-content: space-between;
  }
  // .review-username {
  //   font-weight: bold;
  //   color: #000;
  //   font-size: 1em;
  // }
  .avg-rating {
    .fa-star {
      color: black;
    }
  }

  ol.horizontal-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    li {
      line-height: em(20px);
      color: $clr5;
    }
    span {
      padding: 0 0.3em;
      user-select: none;
    }
  }
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 0!important;
  max-height: 260px;
}