.stay-index {
  .map-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 100%;
  }

  .show-map-btn-container {
    width: fit-content;
    position: fixed;
    bottom: 50px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;

    &.hidden {
      transform: translateX(-50%) translateY(60px);
      transition: transform 0.3s ease-in-out;
    }

    button {
      -webkit-box-pack: center;
      -webkit-box-align: center;
      appearance: none;
      display: inline-flex;
      border-radius: 24px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      outline: none;
      margin: 0px;
      padding: 14px 19px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      touch-action: manipulation;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      white-space: nowrap;
      background: rgb(34, 34, 34);
      font-family: cereal-medium;

      svg {
        fill: white;
        width: 18px;
        height: 18px;
        z-index: 100;
        margin-inline-start: 4px;
      }
    }
  }
}

.image-gallery-bullets {
  z-index: 0;
}

@keyframes tiny-modal {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.tiny-modal {
  position: static;
  width: 300px;
  // height: 200px;
  background-color: white;
  top: 50%;
  left: 50%;
  z-index: 1000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  animation: tiny-modal 0.3s ease-in-out;

  transform: translate(-50%, -50%);

  border: 1px solid #c5c5c5;
  border-radius: 8px;
  // padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tiny-modal-content {
    display: flex;
    flex-direction: column;

    .tiny-modal-header {
      width: 300px;
      height: 200px;
      img {
        width: 300px;
        height: 200px;
        border-radius: 8px 8px 0px 0px;

        object-fit: cover;
      }

      button {
        position: relative;
        background-color: rgba(126, 126, 126, 0.6117647059);
        top: -200px;
        left: 263px;
        border-radius: 50%;
        border: 1px solid white;
        padding: 10px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }

    .tiny-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 16px;
      font-weight: 600;
      place-items: start;
      gap: 8px;
    }

    .tiny-modal-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: start;
      font-weight: 600;
      font-family: cereal;
      overflow: clip;
      font-size: 15px;
    }

    .tiny-modal-subtitle {
      font-size: 15px;
      font-family: cereal-light;
      span:nth-child(2) {
        font-weight: 400;
        font-family: cereal-light;
        font-size: 14px;
        color: #717171;
      }
    }
  }
}

.price-label {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: cereal-bold;
  border: 1px solid #717171;
  border-radius: 28px;
  height: 24px;
  padding: 0px 12px;
  width: max-content;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);

  &:hover {
    background-color: $clr1;
    color: white;
    border: 1px solid $clr1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
