.stay-details {
  .stay-image-container {
    img {
      max-width: 300px;
    }
  }
  .review-username {
    color: #000;
    font-weight: 800;
    font-size: 1.2em;
  }
  .stay-title {
    justify-content: space-between;
    align-items: center;
  }
  // .review-username {
  //   font-weight: bold;
  //   color: #000;
  //   font-size: 1em;
  // }
  .min-section {
    display: flex;
    justify-content: space-between;
  }

  ol.horizontal-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    li {
      line-height: em(20px);
      color: $clr5;
    }
    span {
      padding: 0 0.3em;
      user-select: none;
    }
  }
}
