.header-container {
  position: sticky;
  top: 0;
  background-color: white;
}

.main-header.expanded {
    background-color: yellowgreen;
    height: 160px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222222;
  height: 80px;
  //   background-color: rgb(219, 68, 68);
  border-bottom: 1px solid #e4e4e4;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo {
    display: flex;
    align-items: center;
    color: $clr1;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    // padding: 0.5rem;
  }
}

.explore-bar {
    translate: translateY(-100%);
    // translate: translateY(-50%);
}

// .user-info .btn-link {
//     color: $clr2;
// }

// nav {
//     font-size: .8em;
//     background-color: $clr5;
//     padding: 5px;

// }

// nav a:first-child {
//     margin-right: 30px;
// }

// nav a:not(:first-child) {
//     border-top: 1px solid $clr1;
//     padding: 0 5px;
//     margin: 10px;
// }

// nav .active {
//     color: $clr1;
// }
