.form-container {
  max-width: 300px;
  box-shadow: #000000 0px 6px 16px 0px;
  border-radius: 12px;
  line-height: 20px;
  padding: 24px;
  border-width: 1px;
  border-color: #dddddd;
  color: #222222;
  //
  form {
    padding: 24px;

    .start-date-wrapper,
    .end-date-wrapper,
    .adults-wrapper,
    .children-wrapper,
    .checkout-btn-wrapper {
      margin-bottom: 16px;
    }
  }
}
// border-color:
// #dddddd
// border-style:
// solid
// border-width:
// 1px
// color:
// #222222
// line-height:
// 20px
// Local Modifications / Inline Styles
// border-radius:
// 12px
// box-shadow:
// #000000 0px 6px 16px 0px
// padding:
// 24px
