.filter-by {
    position: sticky;
    top: 80px;
    background-color: white;
    z-index: 5;

    span {
        font-family: "cereal";
        font-weight: 600;
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        display: block;
    }
}

.filter-modal-container {
    display: flex;
    flex-direction: row;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;

    & .filter-modal {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        min-width: 700px;
        max-height: 100%;
        flex-direction: column;
        border-radius: 12px;
        box-shadow:
            0 0 0 1px rgb(0 0 0 / 10%),
            0 2px 4px rgb(0 0 0 / 10%),
            0 8px 24px rgb(0 0 0 / 10%);
        min-width: 780px;
        max-height: 792px;

        & .filter-modal-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 0 24px;
            min-height: 64px;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;

            & .close-btn {
                justify-self: flex-start;
                cursor: pointer;
            }

            & .filter-modal-title {
                font-family: "cereal";
                font-weight: 600;
                font-size: 16px;
            }
        }

        & .filter-modal-body {
            display: block;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 32px 24px;
            overflow-y: scroll;

            & .price-range {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding-bottom: 32px;
                border-bottom: 1px solid #e0e0e0;

                & .price-range-title {
                    padding-block-end: 24px;
                    line-height: 26px;
                    font-size: 22px;
                    font-weight: 600;
                }

                & .price-range-inputs {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 41px 41px 0px 41px;

                    & .price-range-divider {
                        background-color: #b0b0b0;
                        width: 10px;
                        height: 1px;
                        flex-basis: 16px;
                        flex-shrink: 0;
                    }

                    & .price-range-input {
                        display: flex;
                        flex-direction: column;

                        cursor: text;
                        margin: 0;
                        border: none;
                        border-radius: 8px;
                        // box-shadow: inset 0 0 0 1px #b0b0b0;
                        background-color: #ffffff;
                        transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        max-height: 56px;
                        padding: 4px;
                        width: 45%;

                        & .input-container {
                            padding: 0px 8px 8px 8px;
                            gap: 3px;

                            span {
                                font-family: cereal;
                                font-size: 16px;
                                font-weight: 400;
                                color: #222222;
                            }
                        }

                        label {
                            font-family: "cereal-light";
                            font-weight: 400;
                            font-size: 12px;
                            color: rgb(113, 113, 113);
                            padding-inline-start: 8px;
                        }

                        input {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.15px;
                            color: #222222;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            width: 100%;
                            height: 100%;
                            cursor: text;
                        }

                        input:checked {
                            background-color: #222222;
                            color: #ffffff;
                        }
                    }
                }

                & .price-range-slider-container {
                    padding: 0 44px;
                }
            }

            & .stay-details {
                padding: 32px 0;

                & .stay-details-title {
                    padding-block-end: 8px;
                    line-height: 26px;
                    font-size: 22px;
                    font-weight: 600;
                }

                & .details-title {
                    padding-top: 16px;
                    padding-bottom: 20px;
                    padding-inline: 2px;

                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }

                & .details-inputs {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    & .details-input {
                        padding-right: 10px;

                        & .details-btn {
                            cursor: pointer;
                            text-align: center;
                            border: 1px solid black;
                            margin: 0;
                            background-color: #ffffff;
                            border-color: #dddddd;
                            transition-property: transform, background-color, border-color;
                            transition-duration: 0.15s;
                            transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
                            padding: 10px 20px;
                            border-radius: 30px;
                            min-width: 59px;

                            &.selected {
                                border-color: #222222;
                                background-color: #222222;
                                color: #ffffff;
                            }

                            span {
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 1.125rem;
                            }
                        }
                    }
                }
            }

            & .stay-ammenities {
                min-width: 400px;
                padding: 32px 0;
                border-top: 1px solid #e0e0e0;

                & .stay-ammenities-title {
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 26px;

                    padding: 0 0 24px 0;
                }

                & .ammenities-section-title {
                    margin: 0 0 12px 0;
                    padding: 8px 0 0 0;

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        font-family: cereal-bold;
                    }
                }

                & .ammenities-section {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-flow: row;
                    padding-right: 12px;

                    & .ammenities-input {
                        display: flex;
                        align-items: center;
                        flex-wrap: unset;
                        gap: 16px 16px;
                        padding: 12px 0;

                        & .input-container {
                            display: flex;  
                            align-items: center;
                            gap: 8px;

                            & .input-icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                                vertical-align: top;
                                overflow: hidden;
                                border-width: 1px;
                                border-style: solid;
                                text-align: center;
                                border-radius: 4px;
                                border-color: #b0b0b0;
                                transition: border-color 0.2s ease-in-out;

                                svg {
                                    // white fill
                                    fill: #ffffff;
                                    stroke: #ffffff;
                                    stroke-width: 1px;
                                    color: #ffffff;
                                }
                                &.selected {
                                    background-color: #222222;
                                    border-color: #222222;

                                }
                            }
                        }

                        label {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 20px;
                            font-family: cereal;
                        }

                        input {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                            vertical-align: top;
                            overflow: hidden;
                            border-width: 1px;
                            border-style: solid;
                            text-align: center;
                            border-radius: 4px;
                            border-color: #b0b0b0;
                            transition: border-color 0.2s ease-in-out;
                            width: 0px;
                        }
                    }
                }
            }
        }

        & .filter-modal-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 16px 24px;
            border-top: 1px solid #e0e0e0;

            & .clear-btn {
                border-radius: 8px;
                border-width: 1px;
                border-style: solid;
                transition: box-shadow 0.2s ease-in-out;
                border: none;
                font-size: 16px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
                border-width: 1px;
                border-style: solid;
                transition:
                    box-shadow 0.2s var(--itr-yy-z),
                    transform 0.1s var(--itr-yy-z);
                border: none;
                margin-left: -10px;
                padding: 10px;

                &:hover {
                    border: none;
                    background: #f7f7f7;
                }
            }

            & .search-btn {
                & .filter-modal-btn {
                    border-radius: 8px;
                    border-width: 1px;
                    border-style: solid;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    padding-left: 24px;
                    padding-right: 24px;
                    transition: box-shadow 0.2s ease-in-out;
                    border: none;
                    background: #222222;
                    cursor: pointer;
                    text-align: center;
                    font-family: cereal;
                    line-height: 20px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #ffffff;

                    // disabled
                }

                & .filter-modal-btn:disabled {
                    background: #f7f7f7;
                    color: #b0b0b0;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.custom-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: top;
    // overflow: hidden;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    border-radius: 4px;
    border-color: #b0b0b0;
    transition: border-color 0.2s ease-in-out;
}

.filters-btn {
    position: relative;

    div {
        svg {
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentColor;
            stroke-width: 3;
            overflow: "visible";
        }
    }
    & .filters-count {
        display: flex;
        align-items: center;
        justify-content: center;

        background: #222222;
        border-radius: 50%;
        border: 1.5px solid #ffffff;
        transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transform: translateY(-1px);
        text-align: center;

        pointer-events: none;
        position: absolute;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;

        span {
            color: #ffffff;
            font-size: 10px;
            font-weight: 800;
            line-height: 12px;
        }
    }
}
