.stay-preview {
  background-color: transparent;
  color: #000;
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 0.9375rem;
  margin: 0;

  .preview-img {
    position: relative;

    .image-gallery-image {
      border-radius: 5%!important;
    }

    .heart-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
      z-index: 1;
      stroke: white;
      font-size: 1.5rem;
      cursor: pointer;
      fill: rgba(58, 58, 58, 0.434);
      & .liked {
        fill: #ff385c;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .stay-card {
    width: 400px;
  }

  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.053/1;
    height: auto;
    vertical-align: bottom;
    box-sizing: border-box;
    border-radius: 5%;
  }

  .stay-card-details {
    margin-top: 12px;
    display: grid;
    gap: 2px 8px;

    .preview-header {
      justify-content: space-between;
      align-items: center;
    }

    .preview-header,
    .preview-rating,
    .preview-location,
    .preview-summary,
    .preview-dates,
    .preview-price {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 19px;
      font-size: 0.9375rem;
    }

    .preview-rating {
      display: flex;
      align-items: baseline;
      gap: 4px;

      .star {
        display: block;
        height: 12px;
        width: 12px;
        fill: currentcolor;
      }
    }

    .preview-price,
    .preview-location {
      margin-top: 6px;
    }

    .preview-summary,
    .preview-dates {
      color: $clr4;
    }

    .preview-price .price-span {
      font-weight: 600;
      color: $clr5;
    }
  }
}

// Image Gallery Styles //
.image-gallery-svg {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  object-fit: cover !important;
  border-radius: 50%;
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffffe6;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: #0000 0 0 0 1px;
  color: #000;
  font-size: 1rem;
  font-stretch: 100%;
  font-weight: 400;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2rem;
}

.image-gallery-icon {
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.image-gallery-icon:hover {
  opacity: 1;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.image-gallery-icon:hover {
  color: $clr3 !important;
}

.image-gallery-bullets .image-gallery-bullet {
  padding: 2px;
  box-shadow: none;
}

.main-image-gallery {
  color: #fff;
  transition: all .3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;

  svg {
    width: 25px !important;
    height: 25px !important;
    cursor: pointer;
    object-fit: cover !important;
    border-radius: 50%;
    align-items: center;
    background-clip: padding-box;
    background-color: #ffffffc7;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: #0000 0 0 0 1px;
    color: #000;
  }

  &.left-nav {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

  }

  &.right-nav {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &:hover {
    opacity: 1;
  }
  
}

.image-gallery-slides {
  border-radius: 5%;
}