h3 {
    font-family: cereal-light;
    font-size: 1em;
}
.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;
    padding: 15px 10px;
    position: fixed;
    top: 110px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
    z-index: 100;
    animation:
        slideIn 0.5s forwards,
        slideOut 0.5s forwards 2.5s;
    transition: all 0.5s ease-in-out;
}
.close {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin alert($name, $bgColor) {
    $accentColor: darken($bgColor, 30);
    $accentColor2: darken($bgColor, 80);
    .#{$name} {
        background-color: #{$bgColor};
        border-left: 5px solid $accentColor;
        .close {
            border-color: $accentColor2;
            color: $accentColor2;
        }
    }
}
@include alert(alert, #ebebeb);
@include alert(success, #a8f0c6);
@include alert(error, #f7a7a3);

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-100%);
    }
    to {
        transform: translateX(-50%) translateY(0) scale(1);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-50%) translateY(0);
    }
    to {
        transform: translateX(-50%) translateY(-250px);
    }
}