h3 {
    font-family: cereal-light;
    font-size: 1em;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
    min-height: 50px;
    padding: 15px 10px;
    position: fixed;
    bottom: 40px;
    left: 15px;
    border-radius: 5px;
    z-index: 100;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px 0 #0000001a;
    border: 1px solid #e0e0e0;
    animation: fadeIn 0.3s ease-in-out;




    & .alert-text {
        font-size: 16px;
        font-family: cereal-light;
        font-weight: 400;
        color: #222222a3;
    }

    & .icon {
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 #0000001a;
            margin-right: 10px;
            &.success {
                color: #ffffff;
                background-color: #00c853cb;
            }
            &.error {
                color: #ffffff;
                background-color: #f30000c3;
            }
        }
    }

    & .close {
        opacity: 0.5;
        font-size: 1.6em;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        span {
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
    }
}