h3 {
    font-family: cereal-light;
    font-size: 1em;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-height: 50px;
    padding: 15px 10px;
    position: fixed;
    top: 100px;
    right: 15px;
    border-radius: 5px;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #0000001a;
    animation: slideInj 0.3s ease-in-out;
    animation-fill-mode: both;


    & .alert-text {
        font-size: 16px;
        font-family: cereal-light;
        font-weight: 400;
        color: #222222a3;
    }

    & .icon {
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 #0000001a;
            margin-right: 10px;
            &.success {
                color: #ffffff;
                background-color: #00c853cb;
            }
            &.error {
                color: #ffffff;
                background-color: #f30000c3;
            }
        }
    }

    & .close {
        opacity: 0.5;
        font-size: 1.6em;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        span {
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@keyframes slideInJ {
    0% {
        transform: translateY(250%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutJ {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.slideIn {
    animation: slideInJ 0.3s ease-in-out;
}

.slideOut {
    animation: slideOutJ 0.3s ease-in-out;
}
