* {
  box-sizing: border-box;
}

html {
  font-family: cereal, sans-serif;
  line-height: 1.6;
  color: $clr5;
}

.divider-both {
  border-top: 1px solid $clr2;
  border-bottom: 1px solid $clr2;
  padding: em(24px) 0;
}

.divider-bottom {
  border-bottom: 1px solid $clr2;
  padding-block-end: em(24px);
}

body {
  height: 100vh;
  font-size: rem(18px);
  margin: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  padding: 0;
}

section,
main,
footer {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.loader {
  // locate in the middle of the screen
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // make sure it's on top of other elements
  z-index: 999;
}

.no-stays {
  // locate in the middle of the screen
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(232, 242, 242);
  z-index: 0;
  padding: 1200px;

  font-family: "Cereal", sans-serif;
  img {
    width: 400px;
    @media (max-width: 768px) {
      width: 300px;
    }
  }

  h1 {
    font-family: 'cereal';
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
    margin: 4px 0;
  }

  h3 {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 400;
    
  }
}
