@font-face {
  font-family: cereal;
  src: url('../fonts/Cereal/AirbnbCereal-Book.ttf');
}
@font-face {
  font-family: cereal-bold;
  src: url('../fonts/Cereal/AirbnbCereal-Bold.ttf');
}
@font-face {
  font-family: cereal-medium;
  src: url('../fonts/Cereal/AirbnbCereal-Medium.ttf');
}
@font-face {
  font-family: cereal-light;
  src: url('../fonts/Cereal/AirbnbCereal-Light.ttf');
}
@font-face {
  font-family: cereal-black;
  src: url('../fonts/Cereal/AirbnbCereal-Black.ttf');
}
