@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Black.ttf');
  font-weight: normal;
}

@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Light.ttf');
  font-weight: lighter;
}
