@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Black.4395b29d.ttf');
  font-weight: normal;
}

@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Bold.c94c29fe.ttf');
  font-weight: bold;
}

@font-face {
  font-family: cereal;
  src: url('../../fonts/Cereal/AirbnbCereal-Black.4395b29d.ttf');
  font-weight: lighter;
}
